#mainContentAdd {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#content {
    display: flex;
    flex-flow: row;
    width: '100%'
}